<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>toocube blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="/">blog</a></li>
                    <li><a href="http://toocube.neonus.sk/panoramas/">pano gallery</a></li>
                    <li><a href="http://toocube.neonus.sk/gallery/">foto gallery</a></li>
                </ul>
            </nav>
        </header>

	{% block content %}
        <h1>Zoznam článkov</h1>
        {% for post in posts %}
        <article>
            <h2><a href="/blog/{{ post.url }}"><span class="date">{{ post.date }}</span> {{ post.title }}</a></h2>
            <section>{{ post.excerpt }}</section>
            <a href="/blog/{{ post.url }}">čítaj</a>
        </article>
        {% endfor %}
	{% endblock %}

        <footer>
            Copyright &copy; {{ "now"|date('Y') }} shamot
        </footer>

    </body>
</html>
